doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')

    title Drawphone
    meta(name="description" content="Telephone with pictures")

    link(rel='stylesheet', href=`${css}`)
      
  body
    .container
      .main-content
        block content
        hr
        footer
          |Drawphone by 
          a(href='http://www.tannerkrewson.com/', target='_blank') Tanner Krewson
          br
          a(href='https://github.com/tannerkrewson/drawphone', target='_blank') View on GitHub
    br
    block js
